*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #B99470;
}

.top-div{
    background-color: #5F6F52;
    height: 10svh;
    padding: 5vh 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.main-container{
    display: flex;
    color: #FEFAE0;
    font-size: 1.75rem;
    gap: 1rem;
    align-items: center;
    
    button:hover,
    ion-icon:hover{
        cursor: pointer;
        scale: 1.1;
    }

    button:active,
    ion-icon:active{
        scale: .9;
    }
}
.alert-holder{
    margin-right: -20px;
    display: flex;
    width: min-content;
}
.notification-dot{
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(250, 72, 72);
    position: relative;
    border: 5px solid rgba(51, 7, 7, 0.418);
    height: 3px;
    right: 14px;
    top: -4px;
}

.hide-dot{
    opacity: 0;
}

.dropdown-button{
    color: #FEFAE0;
    text-align: center;
    background-color: #5F6F52;
    padding:  5px 10px;
    border-radius: 7px;
    border: none;

    &:hover{
        cursor: pointer;
        background-color: #3a4432;
    }

    & ion-icon{
        position: relative;
        top: 2px ;
    }
}

.drop-down-menu{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px 0px #0000007e;
    width: max-content;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    right: 21vw;
    top: 16svh;
    transform-origin: top right;
    transition: all 250ms linear;
}

.closed{
    scale:0;
    opacity: 0;
}

.top-drop-down{
    display: flex;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    background-color: #FEFAE0;
}

.info-holder{
    color: #7e5d3d;
}

.span-holder{
    padding-top: 10px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 10px;

    *{
        padding: 5px;
        margin-left: -5px;
    }

    *:hover{
        background-color: #5F6F52;
        color: #FEFAE0;
        border-radius: 10px;
        cursor: pointer;
    }
    
}

.bot-drop-down{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-size: 1.25rem;
    
    span{
        border-radius: 5px;
        padding: .5rem 1.25rem;
    
    }

    span:hover{
        cursor: pointer;
        background-color: #fefae05e;
    }

    b{
        color: firebrick;
    }
}
img{
    aspect-ratio: 1;
    height: 6rem;
    border-radius: 50%;
}